*{
    padding: 0;
    margin: 0;
    font-family: 'Microsoft YaHei',serif;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100%;
    background: #f7f7f7;
}
/*.my-msg-top*/
.my-msg-top{
    height: 4rem;
    background: #ee6552;
    padding: 0 1rem;
    position: relative;
}
.my-msg-top h3{
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: normal;
}
.my-msg-top>a.arrow{
    display: block;
    width: 1.83rem;
    height: 100%;
    background: url("../img/arrow-left.png") no-repeat center center;
    float: left;
}
/*nav*/
.my-msg-top .nav{
    position: absolute;
    top:0;
    right: 0.5rem;
    width: 5.8rem;
}
.my-msg-top .nav .nav-tit{
    display: block;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.6rem;
    color: #ffffff;
    background: #ee6552;
    position: relative;
}
.my-msg-top .nav .nav-tit i{
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 0.7rem;
    bottom: 1.1rem;
    background: url("../img/msg-down.png") no-repeat center center;
}
.my-msg-top .nav .nav-list{
    position: absolute;
    width: 100%;
    display: none;
}
.my-msg-top .nav .nav-list li{
    width: 100%;
    height: 3.3rem;
    line-height: 3.3rem;
    text-align: center;
    background: #ee6552;
    font-size: 1.4rem;
    border-bottom: 1px solid #be584a;
}
.my-msg-top .nav .nav-list li:last-child{
    border: 0;
}
.my-msg-top .nav .nav-list li a{
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}
/*msg-item*/
.msg-item{
    height: 8.5rem;
    background: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.msg-item h3{
    font-size: 1.5rem;
    font-weight: normal;
    color: #616161;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.msg-item h3 i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/msg-icon.png") no-repeat center center;
    float: left;
    margin-right: 0.5rem;
}
.msg-item>span{
    margin-left: 2rem;
    font-size: 1.3rem;
    line-height: 1.5em;
}
.msg-item>p{
    margin-left: 2rem;
    width: 90%;
    height: 3em;
    line-height: 1.5em;
    overflow: hidden;
    word-break: break-all;
    font-size: 1.2rem;
}